LCDMenuProgramming
ESP32_plant_watner_V2_IOT_Cloud
SD_card_data_logging_with_a_sensor
SD_card_data_logging_with_a_sensor - Backup
vaxtvattnare_2023_05_21_esp32
vaxtvattnare_utan_sd_kort_och_realtidklocka_arduino
STL/bottom_plant_watner.stl
STL/plant_watner_2.0_case.stl
2.0_vaxtvattnare_2024_12_07_esp32.ino
Privates.h
Privates.cpp